
<app-header></app-header>

<div  class="row ">
  <div class="col-12">
    <div class="card-image">
    <img alt="Card" width="80" height="24" src="assets/images/image%203.png">
    </div>
    <div class="card-transfer">
    <span class=" title-transfer ">Tranferencia</span>
    <p>No. de cuenta CLAVE</p>
    <h1>646199146004637642</h1>
      <p>Instrucciones</p>
    </div>
  </div>
  <div class="col-12 ">
    <ol class="list-group list-group-numbered ">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-inter">  Realiza una transferencia a Cuenta CLABE , desde la aplicación o portal de otro banco.</div>
        </div>

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-inter">
            Selecciona STP (Sistema de Transferencias y Pagos) como banco de destino.</div>

        </div>

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-inter">
            Ingresa el número de titular de la cuenta, el monto de transferencia y confirma.</div>
        </div>

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-inter">El depósito se vera reflejada en cuestión de minutos.</div>
        </div>

      </li>
    </ol>
  </div>
</div>



